
@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat Alternates', sans-serif;
    background: rgb(245, 245, 245);
}

/* CSS DE LA NAVBAR */

nav {
    width: 100%;
    background: #4daeee;
    box-shadow: 0 0 3px;
    position: fixed;
}

.nav-elements{
display: flex;
}

/*
    .nav-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    height: 10vh;
}
    .nav-elements a {
    color: #333;
    text-decoration: none;
}
    .nav-elements a:visited {
    color: #333;
}
    .nav-elements h2 {
    transition: all .3s ease-in-out;
}
    .nav-links {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
    .nav-links, h2 {
    flex: 1;
    color: #333;
}
    .nav-links li {
    padding: 1rem;
    transition: all 0.2s ease;
}
    .nav-elements h2:hover {
    font-weight: 100;
}
    .nav-links li:hover {
    transform: translateX(5px);
    font-weight: bold;
} 
*/